{% extends '::emailbase.html.twig' %}
{% block corps %}
<h1 style='color:blue;text-align:center;'>FASTEL GROUP</h1>

{#<h1><img alt="" src="{{ asset('/../bundles/fasclimain/images/papier-peint.jpg') }}"></h1>#}
<img src="./bundles/fasclimain/images/logo-fastel.png" width="100" height="100" alt="logo" />

    <h2>NOS CLIENTS QUI ONT ANNIVERSAIRE AUJOURD'HUI</h2>

    <table class="table" style="width:100%; text-align:center">
      <thead>
              <tr style="text-align:center;background:gray;font-weight:bold;border:solid 1px;">
              <th style="width: 30px">NOM</th>
              <th style="width: 12px">PRENOMS</th>
              <th style="width: 18px">DATE DE NAISSANCE</th>
              <th style="width: 30px">TELEPHONE</th>
              <th style="width: 10px">CASH POINT</th>
              </tr>
      </thead>
      <tbody>
      {% for entity in clientauj %}
             <tr style="text-align:center;font-weight:bold;border:solid 1px;">
              
              <td style="width: 30px;">{{ entity.nom }}</td>
              <td style="width: 30px;">{{ entity.prenoms }}</td>
              <td style="width: 30px;">{{ entity.datnaissance|date('d-m-Y') }}</td>
              <td style="width: 30px;"">{{ entity.telephone }}</td>
              <td style="width: 30px;">{{ entity.cashpoint}}</td>
          </tr>
           {% endfor %}
      </tbody>
           
    </table>
   
    <h2>NOS CLIENTS QUI ONT ANNIVERSAIRE DEMAIN</h2>
       <table class="table" style="width:100%; text-align:center">
      <thead>
              <tr style="text-align:center;background:gray;font-weight:bold;border:solid 1px;">
              <th style="width: 30px">NOM</th>
              <th style="width: 12px">PRENOMS</th>
              <th style="width: 18px">DATE DE NAISSANCE</th>
              <th style="width: 30px">TELEPHONE</th>
              <th style="width: 10px">CASH POINT</th>
              </tr>
      </thead>
      <tbody>
       {% for entity in clientdem %}
             <tr style="text-align:center;font-weight:bold;border:solid 1px;">
              
              <td style="width: 30px;">{{ entity.nom }}</td>
              <td style="width: 30px;">{{ entity.prenoms }}</td>
              <td style="width: 30px;">{{ entity.datnaissance|date('d-m-Y') }}</td>
              <td style="width: 30px;"">{{ entity.telephone }}</td>
              <td style="width: 30px;">{{ entity.cashpoint}}</td>
          </tr>
          {% endfor %}
      </tbody>
            
    </table>
   

{% endblock %}