<form class="form-horizontal " action="{{ path('memos_create') }}" method="post" {{ form_enctype(form) }}>
<div class="control_group" style="margin-bottom:10px">
      <div class="control-label">
{{ form_errors(form.titre) }}
{{ form_label(form.titre, 'Titre'|trans) }}
      </div>
<div class="controls">
{{ form_widget(form.titre, { 'attr': {'class': 'inactive'} }) }}
</div>
</div>   
 <div class="control_group" style="margin-bottom:10px">
      <div class="control-label">
{{ form_errors(form.contenu) }}
{{ form_label(form.contenu, 'Contenu'|trans) }}
      </div>
<div class="controls">
{{ form_widget(form.contenu) }}
</div>
</div> 
<div class="control_group" style="margin-bottom:10px">
      <div class="control-label">
{{ form_label(form.submit, 'Enregistrer'|trans) }}
      </div>
<div class="controls">
{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary pull-right'} }) }}
</div>
</div>
<div class="control_group">
{{ form_rest(form) }}
</div>
    {#<p>
        <button class="btn btn-inverse pull-right" type="submit">Enregistrer</button>
    </p>#}
</form>



{#<ul class="pager">
    <li>
        <a href="{{ path('memos') }}">
            memos enregistrés
        </a>
    </li>
</ul>#}
