
<table class="table table-condensed table-hover">
    {%for a in clients %}
    <tr class="success">
        <td>{{a.nom}}</td>
        <td>{{a.prenoms}}</td>
        <td>{{a.datnaissance|date('d-m-Y ')}}</td>
        <td>{{ a.sexe }}</td>
        <td>{{ a.nationalite }}</td>
        <td>{{ a.telephone }}</td>
        <td>{{ a.profession }}</td>
        <td>{{ a.adresse }}</td>
        <td>{{ a.caissier }}</td>
        <td>{{ a.cashpoint }}</td>
        <td><a href="{{ path('client_show', { 'id': a.id }) }}">Voir</a> </td>
        {% if is_granted('ROLE_ADMIN') %} <td><a href="{{ path('client_edit', { 'id': a.id }) }}">Modifier</a> </td> {% endif %}
     </tr>
    {% else %}
    <tr><td>Aucun client n'a été trouvé</td></tr>
    {% endfor %}
</table>