{% extends "::appLayout.html.twig" %}
{% block sidebar %}
{% if is_granted("ROLE_USER") %}
              <li class="active"><a href="{{ path('fos_user_registration_register') }}">CREER UN UTILISATEUR</a></li>
              <li ><a href="{{ path('fos_user_change_password') }}">CHANGER VOTRE MOT DE PASSE</a></li>
              <li><a href="{{ path('fos_user_profile_show') }}">VOTRE PROFILE</a></li>
              <li><a href="{{ path('fos_user_profile_edit') }}">MODIFIER VOTRE PROFILE</a></li>
{% elseif is_granted("ROLE_USER") %}
             <li ><a href="{{ path('fos_user_change_password') }}">CHANGER VOTRE MOT DE PASSE</a></li>
              <li><a href="{{ path('fos_user_profile_show') }}">VOTRE PROFILE</a></li>
              <li><a href="{{ path('fos_user_profile_edit') }}">MODIFIER VOTRE PROFILE</a></li>
{% endif %}
{% endblock  %}
{% block boutons %}
            <a href="{{ path('app') }}" ><button class="btn btn-large btn-primary" type="button">RETOUR A L'ACCUEIL</button></a>
            
{% endblock %}
{% block table %}
    <p class="alert alert-success">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
{% endblock  %}
