{% extends "::appLayout.html.twig" %}
{% block sidebar %}
{% if is_granted("ROLE_USER") %}
              <li class="active"><a href="{{ path('fos_user_registration_register') }}">CREER UN UTILISATEUR</a></li>
              <li ><a href="{{ path('fos_user_change_password') }}">CHANGER VOTRE MOT DE PASSE</a></li>
              <li><a href="{{ path('fos_user_profile_show') }}">VOTRE PROFILE</a></li>
              <li><a href="{{ path('fos_user_profile_edit') }}">MODIFIER VOTRE PROFILE</a></li>
{% elseif is_granted("ROLE_USER") %}
             <li class="active"><a href="{{ path('fos_user_change_password') }}">CHANGER VOTRE MOT DE PASSE</a></li>
              <li><a href="{{ path('fos_user_profile_show') }}">VOTRE PROFILE</a></li>
              <li><a href="{{ path('fos_user_profile_edit') }}">MODIFIER VOTRE PROFILE</a></li>
{% endif %}
{% endblock  %}
{% block boutons %}
            <a href="{{ path('app') }}" ><button class="btn btn-large btn-primary" type="button">RETOUR A L'ACCUEIL</button></a>
{% endblock %}
{% block table %}
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    {{ form_widget(form) }}
    <div class="pull-right">
        <input type="submit" class = "btn btn-primary" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
{% endblock %}