{% extends '::appLayout.html.twig' %}
{% block sidebar %}
{% if is_granted("ROLE_USER") %}
              <li class="active"><a href="{{ path('dep') }}">DEPENSES</a></li>
              <li><a href="{{ path('dep_new') }}">DEPENSES DU MOIS</a></li>
              <li><a href="{{ path('dep_new') }}">DEPENSES DE L'ANNEE</a></li>
              <li><a href="{{ path('dep_new') }}">ENREGISTRER UN RETRAIT</a></li>
                             
{% endif %}
{% endblock %}
{% block table -%}
    <h2>DEPENSE ENREGISTREE</h2>

    <table class="table table-striped table-bordered table-condensed table-hover" style="font-family : Verdana;">
        <tbody>
        <th>N°</th>
        <th>DATE DEPENSE</th>
        <th>LIBELLE</th>
         <th>MONTANT</th>
         <th>AUTORISATION</th>
         <th>CASH POINT</th>
         <th>RUBRIQUE</th>
         <th>ENREGISTREUR</th>
         {#<th>N° FACTURE</th>#}
         <th>STATUT</th>
         
            <tr>
                
                <td>{{ entity.id }}</td>
                <td>{{ entity.datdepense|date('d-m-Y') }}</td>
                <td>{{ entity.libelle}}</td>
                <td>{{ entity.montant|number_format(0, '.', ' ')}}</td>
                <td>{{ entity.autorisation}}</td>
                <td>{{ entity.cashpoint}}</td>
                <td>{{ entity.rubrique}}</td>
                <td>{{ entity.enregistreur }}</td>
                {#<td>{{ entity.nfacture}}</td>#}
                <td>{{ entity.statut}}</td>
            </tr>
    </tbody>
    </table>
    <ul class="unstyled pager">
    <li>
        <a href="{{ path('dep') }}">
            RETOUR
        </a>
    </li>
    <li>
        <a href="{{ path('dep_edit', { 'id': entity.id }) }}">
            MODIFIER
        </a>
    </li>
    {#<li>{{ form(delete_form) }}</li>#}
</ul>
{% endblock %}
