{% extends "::pdfLayout.html.twig" %}

{% block content %}
<div style="background:#CCE6FF;width:200px;font-weight:bold;border:solid 1px;border-radius:5px"><span ><img src="./bundles/fasclimain/images/logo-fastel.png" width="25" height="25" alt="caré" />
FASTEL GROUP<br/>Lot 129 Rue Caporal ANANI<br/>Tel: 21 30 29 23
</span></div><br/>
DATE: {{ date|date('d-m-Y ') }} <br/>
CAISSIER: {{ caissier}}  <br/>
AGENCE: {{ agence|upper}}
<div style="margin-left:100px;"><span ><h2>RAPPORT DE CAISSE GBPS</h2></span></div>
    <div style="margin-left:5px;"><span ><h2>ACHAT GBPS</h2></span></div>

          
      {% set n= 0 %}
      {% set yy = 0 %}
      {% set zz = 0 %}
    <table >
       <thead>
         <tr>
         <th style="text-align:center;background:gray;font-weight:bold;width:140px;">N°</th>
         <th style="text-align:center;background:gray;font-weight:bold;width:140px;">RECUS</th>
         <th style="text-align:center;background:gray;font-weight:bold;width:140px;">QUANTITES</th>
         <th style="text-align:center;background:gray;font-weight:bold;width:140px;">MONTANTS</th>
        
        </tr>
       </thead>
       <tbody>

           {% for entity in achat %}
              {% set n= n+1 %}
              {% set y = 0 %}
               {% set z = 0 %}
              {% for xx in entity.gbps %}
             
               {% set y = y+(xx.val*xx.qte*xx.tauxreel) %}
               {% set z = z+xx.val*xx.qte  %}
               {% set yy = yy ++(xx.val*xx.qte*xx.tauxreel)%}
               {% set zz = zz + xx.val*xx.qte %} 
           {% endfor %}   
               <tr>
                <td style="background:#CCE6FF;text-align:center;font-weight:bold;width:50px;">00{{ n}}</td>
                <td style="background:#CCE6FF;text-align:center;font-weight:bold;width:50px;">00{{ entity.id}}</td>
                <td style="background:#CCE6FF;text-align:center;font-weight:bold;width:50px;">{{    z|number_format(0, '.', ' ') }}</td>
                <td style="background:#CCE6FF;text-align:center;font-weight:bold;width:50px;">{{ y|number_format(0, '.', ' ')}}</td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
    <table>
    <tr>
    <td><span style="color:#1A6A51;font-weight:bold;"><h3>RESUME ACHATS</h3></span></td>
    <td></td>
    </tr>
    <tr>
    <td><span style="color:#1A6A51;font-weight:bold;">TOTAL QUANTITE ACHATS  :  </span></td>
    <td><span style="font-weight:bold;">{{zz|number_format(0, '.', ' ')}} </span></td>
    </tr>
    <tr>
    <td><span style="color:#1A6A51;padding-left:50px;font-weight:bold;width:100px;">MONTANT TOTAL DONNE AUX CLIENTS : </span></td>
    <td style="font-weight:bold;"><span>{{yy|number_format(0, '.', ' ')}} F CFA</span></td>
    </tr>
    </table>

{################################################################################################################################################}
 <div style="margin-left:5px;"><span ><h2>VENTE GBPS</h2></span></div>
{% set n0= 0 %}
      {% set yy0 = 0 %}
      {% set zz0 = 0 %}
    <table >
       <thead>
         <tr>
         <th style="text-align:center;background:gray;font-weight:bold;width:140px;">N°</th>
         <th style="text-align:center;background:gray;font-weight:bold;width:140px;">RECUS</th>
         <th style="text-align:center;background:gray;font-weight:bold;width:140px;">QUANTITES</th>
         <th style="text-align:center;background:gray;font-weight:bold;width:140px;">MONTANTS</th>
        
        </tr>
       </thead>
       <tbody>

           {% for entity in vente %}
              {% set n0= n0+1 %}
              {% set y0 = 0 %}
               {% set z0 = 0 %}
              {% for xx in entity.gbps %}
             
               {% set y0 = y0+(xx.val*xx.qte*xx.tauxreel) %}
               {% set z0 = z0+xx.val*xx.qte  %}
               {% set yy0 = yy0 ++(xx.val*xx.qte*xx.tauxreel)%}
               {% set zz0 = zz0 + xx.val*xx.qte %} 
           {% endfor %}   
               <tr>
                <td style="background:#CCE6FF;text-align:center;font-weight:bold;width:50px;">00{{ n0}}</td>
                <td style="background:#CCE6FF;text-align:center;font-weight:bold;width:50px;">00{{ entity.id}}</td>
                <td style="background:#CCE6FF;text-align:center;font-weight:bold;width:50px;">{{    z0|number_format(0, '.', ' ') }}</td>
                <td style="background:#CCE6FF;text-align:center;font-weight:bold;width:50px;">{{ y0|number_format(0, '.', ' ')}}</td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
    <table>
    <tr>
    <td><span style="color:#1A6A51;font-weight:bold;"><h3>RESUME VENTES</h3></span></td>
    <td></td>
    </tr>
    <tr>
    <td><span style="color:#1A6A51;font-weight:bold;">TOTAL QUANTITE VENTES  :  </span></td>
    <td><span style="font-weight:bold;">{{zz0|number_format(0, '.', ' ')}} </span></td>
    </tr>
    <tr>
    <td><span style="color:#1A6A51;padding-left:50px;font-weight:bold;width:100px;">MONTANT TOTAL RECU DES CLIENTS : </span></td>
    <td style="font-weight:bold;"><span>{{yy0|number_format(0, '.', ' ')}} F CFA</span></td>
    </tr>
    </table>
   
       
  <span style="font-weight:bold;margin-left:550px;">Signature Caissier(e):</span>

{% endblock %}